*{
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Popins',sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-links{
    display: flex;
    column-gap: 30px;
}

.nav-links a{
    text-decoration: none;
    color: #1d232c;

}

.nav-links a:hover{
    text-decoration: underline;
    color: #1d232c;
   
}

.nav-menuico{
    display: none;
}

.sidenav{
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    padding: 20px;
    color: white;
   
}

.side-nav-link{
    margin-bottom: 30px;

}

 .side-nav-link a{
    text-decoration: none;
    color: antiquewhite;
    transition: 500ms;
}

 .side-nav-link a:hover{
    text-decoration: underline;
    font-size: 120%;
 }









/* Media Query*/

@media screen and (max-width:700px) {
    .nav-menuico{
        display: block;
    }
    .nav-links{
        display: none;
    }
}

